In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
iso1_dG <- read_csv(file = "screenres-isoform1-Modified.csv", col_names=TRUE)
iso2_dG <- read_csv(file = "screenres-isoform2-Modified.csv", col_names=TRUE)

Parsed with column specification:
cols(
  Ligands = col_character(),
  `mean-dG` = col_double(),
  `stdev-dG` = col_integer(),
  `#samples` = col_integer()
)
Parsed with column specification:
cols(
  Ligands = col_character(),
  `mean-dG` = col_double(),
  `stdev-dG` = col_integer(),
  `#samples` = col_integer()
)

In [4]:
head(iso1_dG)
head(iso2_dG)

  Ligands    mean-dG stdev-dG #samples
1 reduce-134 -7.2    0        1
2 reduce-449 -7.2    0        1
3 reduce-439 -7.2    0        1
4 reduce-419 -7.0    0        1
5 reduce-83  -7.0    0        1
6 reduce-287 -7.0    0        1

  Ligands      mean-dG stdev-dG #samples
1 reduce-134   -8.2    0        1
2 D1Tric       -7.8    0        1
3 reduce-38    -7.7    0        1
4 reduce-443   -7.7    0        1
5 reduce-78    -7.6    0        1
6 troglitazone -7.5    0        1

In [5]:
tpsa_mw <- read_csv(file = "tpsa-mw-screenlib.csv", col_names=TRUE)

Parsed with column specification:
cols(
  Ligand = col_character(),
  MW = col_double(),
  TPSA = col_double()
)

In [6]:
colnames(tpsa_mw)[1] <- "Ligands"

In [7]:
iso1_dG <- iso1_dG[,-c(3,4)]

In [8]:
iso2_dG <- iso2_dG[,-c(3,4)]

In [9]:
i1class <- replicate(length(iso1_dG$Ligands), "1")
i2class <- replicate(length(iso2_dG$Ligands), "2")

In [10]:
df1 <- inner_join(iso1_dG, tpsa_mw)
df2 <- inner_join(iso2_dG, tpsa_mw)

Joining, by = "Ligands"
Joining, by = "Ligands"

In [11]:
colnames(df1)[2] <- "dG"
colnames(df2)[2] <- "dG"

In [12]:
df1 <- cbind(df1, i1class)
df2 <- cbind(df2, i2class)

In [13]:
head(df1)
head(df2)

  Ligands    dG   MW      TPSA  i1class
1 reduce-134 -7.2 280.369 86.24 1
2 reduce-449 -7.2 274.318 65.96 1
3 reduce-439 -7.2 273.291 86.70 1
4 reduce-419 -7.0 273.310 73.87 1
5 reduce-83  -7.0 272.322 61.51 1
6 reduce-287 -7.0 261.320 82.01 1

  Ligands      dG   MW      TPSA   i2class
1 reduce-134   -8.2 280.369  86.24 2
2 D1Tric       -7.8 298.379  61.69 2
3 reduce-38    -7.7 278.373  73.01 2
4 reduce-443   -7.7 277.365  68.43 2
5 reduce-78    -7.6 274.318  69.70 2
6 troglitazone -7.5 441.540 110.16 2

In [15]:
colnames(df1)[5] <- "Isoform"
colnames(df2)[5] <- "Isoform"

In [16]:
head(df1)
head(df2)

  Ligands    dG   MW      TPSA  Isoform
1 reduce-134 -7.2 280.369 86.24 1
2 reduce-449 -7.2 274.318 65.96 1
3 reduce-439 -7.2 273.291 86.70 1
4 reduce-419 -7.0 273.310 73.87 1
5 reduce-83  -7.0 272.322 61.51 1
6 reduce-287 -7.0 261.320 82.01 1

  Ligands      dG   MW      TPSA   Isoform
1 reduce-134   -8.2 280.369  86.24 2
2 D1Tric       -7.8 298.379  61.69 2
3 reduce-38    -7.7 278.373  73.01 2
4 reduce-443   -7.7 277.365  68.43 2
5 reduce-78    -7.6 274.318  69.70 2
6 troglitazone -7.5 441.540 110.16 2

In [17]:
led <- rbind(df1,df2)

In [20]:
write_csv(led, path = "LigandEfficiencyRawData.csv", col_names=TRUE)

In [44]:
sessionInfo()

R version 3.5.1 (2018-07-02)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.1 LTS

Matrix products: default
BLAS: /usr/lib/x86_64-linux-gnu/openblas/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/libopenblasp-r0.2.20.so

locale:
 [1] LC_CTYPE=en_IN       LC_NUMERIC=C         LC_TIME=en_IN
 [4] LC_COLLATE=en_IN     LC_MONETARY=en_IN    LC_MESSAGES=en_IN
 [7] LC_PAPER=en_IN       LC_NAME=C            LC_ADDRESS=C
[10] LC_TELEPHONE=C       LC_MEASUREMENT=en_IN LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] forcats_0.3.0   stringr_1.3.1   dplyr_0.7.6     purrr_0.2.5
[5] readr_1.1.1     tidyr_0.8.1     tibble_1.4.2    ggplot2_3.0.0
[9] tidyverse_1.2.1

loaded via a namespace (and not attached):
 [1] pbdZMQ_0.3-3         tidyselect_0.2.4     repr_0.15.0
 [4] haven_1.1.2          lattice_0.20-35      colorspace_1.3-2
 [7] htmltools_0.3.6      base64enc_0.1-3      rlang_0.2.2
[10] pillar_1.3.0         glue_1.3.0           withr_2.1.2
[13] modelr_0.1.2         readxl_1.1.0         bindrcpp_0.2.2
[16] uuid_0.1-2           bindr_0.1.1          plyr_1.8.4
[19] munsell_0.5.0        gtable_0.2.0         cellranger_1.1.0
[22] rvest_0.3.2          evaluate_0.11        broom_0.5.0
[25] IRdisplay_0.5.0      Rcpp_0.12.18         backports_1.1.2
[28] scales_1.0.0         IRkernel_0.8.12.9000 jsonlite_1.5
[31] hms_0.4.2            digest_0.6.17        stringi_1.2.4
[34] grid_3.5.1           cli_1.0.0            tools_3.5.1
[37] magrittr_1.5         lazyeval_0.2.1       crayon_1.3.4
[40] pkgconfig_2.0.2      xml2_1.2.0           lubridate_1.7.4
[43] assertthat_0.2.0     httr_1.3.1           rstudioapi_0.7
[46] R6_2.2.2             nlme_3.1-137         compiler_3.5.1